@tailwind base;
@tailwind components;
@tailwind utilities;

#errorPage {
    font-size: 3rem;
}

.my-indicator{
    display:none;
}
.htmx-request .my-indicator{
    display:inline;
}
.htmx-request.my-indicator{
    display:inline;
}

.markdown-body ol {
    list-style: inherit;
}

.markdown-body ul {
    list-style: inherit;
}

.markdown-body menu {
    list-style: inherit;
}

@keyframes indeterminate {
    0% { transform: translateX(-100%); width: 40%; }
    50% { transform: translateX(100%); width: 60%; }
    100% { transform: translateX(300%); width: 40%; }
}

.animate-indeterminate {
    animation: indeterminate 1.5s ease-in-out infinite;
}